<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniEats Ke- Canteen</title>
    <script>
        function filterItems(category) {
            const items = document.querySelectorAll('.item');
            items.forEach(item => {
                const categoryValue = item.getAttribute('data-category');
                if (categoryValue === category || category === 'all') {
                    item.style.display = 'block';
                } else {
                    item.style.display = 'none';
                }
            });
        }
    </script>
</head>
<body>
    <header>
        <img src="/images/logo.png" alt="MiniEats Logo">
        <h1>Canteen</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/canteen">Canteen</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Our Meals</h2>
        <div class="category-buttons">
            <button onclick="filterItems('breakfast')">Breakfast</button>
            <button onclick="filterItems('lunch')">Lunch</button>
            <button onclick="filterItems('dinner')">Dinner</button>
            <button onclick="filterItems('beverages')">Beverages</button>
            <button onclick="filterItems('desserts')">Desserts</button>
            <button onclick="filterItems('Fast foods')">Fast foods</button>
        </div>
        <ul id="item-list">
            <% items.forEach(item => { %>
                <li class="item" data-category="<%= item.category %>">
                    <img src="<%= item.imageUrl %>" alt="<%= item.name %> Image">
                    <div>
                        <h3><%= item.name %></h3>
                        <p>$<%= item.price %></p>
                    </div>
                </li>
            <% }); %>
        </ul>
    </main>
</body>
<script src="/js/script.js"></script>
</html>
